<!DOCTYPE html>
<html {{#site.language}}lang="{{.}}"{{/site.language}}>
<head>
    <meta charset="utf-8">
    {{#page.noindex}}<meta name="robots" content="noindex">{{/page.noindex}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="canonical" href="{{page.permalink}}">
    {{#page.hreflang}}
    <link rel="alternate" hreflang="{{lang}}" href="{{url}}">
    {{/page.hreflang}}
    {{#page.prev}}<link rel="prev" href="{{permalink}}">{{/page.prev}}
    {{#page.next}}<link rel="next" href="{{permalink}}">{{/page.next}}
    
    <title>{{#page.title}}{{.}} - {{site.name}}{{/page.title}}{{^page.title}}{{site.name}}{{/page.title}}</title>
    <meta name="description" content="{{page.description}}">
    
    <meta property="og:url" content="{{page.permalink}}">
    <meta property="og:title" content="{{#page.title}}{{.}} - {{site.name}}{{/page.title}}{{^page.title}}{{site.name}}{{/page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{baseUrl}}/images/meta.jpg" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{#page.title}}{{.}} - {{site.name}}{{/page.title}}{{^page.title}}{{site.name}}{{/page.title}}">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:image" content="{{baseUrl}}/images/meta.jpg">
    
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github.min.css"
        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css"
        media="(prefers-color-scheme: dark)"
    >

    <link rel="stylesheet" media="screen" href="{{baseUrl}}/css/variables.css"> 
    <link rel="stylesheet" media="screen" href="{{baseUrl}}/css/base.css">
    <link rel="stylesheet" media="screen" href="{{baseUrl}}/css/theme.css">

    {{#page.css}}<link rel="stylesheet" href="{{.}}">{{/page.css}}

    <link
        rel="stylesheet"
        href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css"
    />
    <style>
        .hljs-copy-button { 
            cursor: pointer; 
            background-color: var(--color-background-primary); 
            color: var(--color-text-primary); 
        }
        .hljs-copy-button:hover { cursor: pointer; }
        .hljs-copy-container { top: 0.5rem; right: 0.5rem; }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>

    <script>
    hljs.addPlugin(
        new CopyButtonPlugin({
            autohide: true,
        })
    );
    hljs.highlightAll();
    </script>

</head>

<body>

    <main id="page-container">
        <div style="background: linear-gradient(#000 9%, #190047);">
            <div class="wrapper" style="padding: 1.5rem; padding-bottom: 0;">
                <a href="https://theswiftdev.gumroad.com/l/learn-to-code-using-swift/" target="_blank">
                    <img width="100%" src="{{baseUrl}}/images/book.png" alt="Get the Learn To Code Using Swift book">
                </a>
            </div>
        </div>

    {{$main}}{{/main}}
    </main>

    <footer>
        <div class="wrapper">
            <p>Created by <a href="https://x.com/kittibodecs/" target="_blank">Kitti Bödecs</a> & <a href="https://x.com/tiborbodecs/" target="_blank">Tibor Bödecs</a> &copy; 2025</p>
            <p>
                <a href="https://github.com/learn-to-code-using-swift/examples/" target="_blank">Source code</a> &middot;
                <a href="https://theswiftdev.gumroad.com/l/learn-to-code-using-swift/" target="_blank">Our book</a>
            </p>
        </div>
    </footer>

    {{#page.js}}<script src="{{.}}" async></script>{{/page.js}}

</body>
</html>