:root {
    --swift: #F05138;
    
    --color-primary: #DE5D43;
    --color-border: #C2543F;
    --color-secondary: #FBB040;
    --color-tertiary: #FF3527;
    
    --color-button-text: #CD563E;
    --color-button-background: #FAEEEB;
    --color-button-border: #F4D8D1;

    --color-heading-primary: #222;
    
    --color-text-primary: #606060;
    --color-background-primary: #fff;
    --color-border-primary: #f9f9f9;

    --color-text-secondary: #444;
    --color-background-secondary: #e6e6e6;
    --color-border-secondary: #ccc;

    --color-text-tertiary: #222;
    --color-background-tertiary: #d0d0d0;
    --color-border-tertiary: #f9f9f9;

    --color-text-panel: #606060;
    --color-background-panel: rgba(204, 204, 204, 0.1);
    --color-border-panel: rgba(204, 204, 204, 0.9);
    
    --color-text-card: #606060;
    --color-background-card: #f6f6f6;
    --color-border-card: rgba(204, 204, 204, 0.9);

    --color-white: #ffffff;
    --color-black: #000000;
    --color-blue: #006fff;
    --color-green: #2ec04f;
    --color-indigo: #4e4cd0;
    --color-orange: #ff8a00;
    --color-pink: #ff284b;
    --color-purple: #a648d9;
    --color-red: #ff342a;
    --color-teal: #50c1f9;
    --color-yellow: #ffc500;
    --color-brown: #987953;
    --color-gray: #838388;

}
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #DE5D43;
        --color-border: #E3755F;
        --color-secondary: #FBB040;
        --color-tertiary: #FF3527;

        --color-button-text: #DE5D43;
        --color-button-background: #170907;
        --color-button-border: #351610;

        --color-heading-primary: #c9c9c9;
        
        --color-text-primary: #909090;
        --color-background-primary: #000;
        --color-border-primary: #101010;

        --color-text-secondary: #d0d0d0;
        --color-background-secondary: #222;
        --color-border-secondary: #666;

        --color-text-tertiary: #909090;
        --color-background-tertiary: #444;
        --color-border-tertiary: #101010;  
        
        --color-text-panel: #606060;
        --color-background-panel: rgba(51, 51, 51, 0.1);
        --color-border-panel: rgba(102, 102, 102, 0.8);

        --color-text-card: #606060;
        --color-background-card: #101010;
        --color-border-card: rgba(102, 102, 102, 0.8);

        --color-blue: #0d79ff;
        --color-green: #2acb4e;
        --color-indigo: #5352e2;
        --color-orange: #ff950d;
        --color-pink: #ff3054;
        --color-purple: #b750f0;
        --color-red: #ff3c33;
        --color-teal: #59ccff;
        --color-yellow: #ffd00d;
        --color-brown: #a2835d;
        --color-gray: #8d8d92;
    }
}

:root {
    --font-size: 1.25rem;
    --line-height: 1.5rem;
}
@media screen and (min-width: 600px) {
    :root {
        --font-size: 1.25rem;
    }
}
@media screen and (min-width: 900px) {
    :root {
        --font-size: 1.5rem;
    }
}
@media screen and (min-width: 1200px) {
    :root {
        
    }
}
@media screen and (min-width: 1500px) {
    :root {
        
    }
}
@media screen and (min-width: 1800px) {
    :root {
        
    }
}

* {
    margin: 0;
    padding: 0
}
html,body {
    overflow-x: hidden;
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
}
html {
    font-size: var(--font-size);
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: var(--line-height);
}
main {
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: var(--color-heading-primary);
}
h1 {
    font-size: 3.5rem;
    line-height: 4.5rem;
    white-space: pre-line; 
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}
h3 {
    font-size: 2rem;
    line-height: 3rem;
}
h4 {
    font-size: 2rem;
    line-height: 3rem;
}
h5 {
    font-size: 1.5rem;
    line-height: 3rem;
}
h6 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
    margin-top: 0;
}
p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
a {
    text-decoration: none;
}
a:hover, a:active {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #444;
}
a:link {
    color: var(--color-primary);
}
a:visited {
    color: var(--color-primary);
}
ul, ol {
    padding-left: 1.5rem;
    
}
li ul, li ol {
    margin-top: 0;
    margin-bottom: 0;
}
article {
    margin-bottom: 4rem;
}
hr {
    position: relative;
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: 1.5rem;
    border: none;
    z-index: 1;
}
hr::after {
    content: "";
    position: relative;
    display: block;
    top: 0.5rem;
    height: 0.5rem;    
    background-color: var(--color-background-secondary);
    border-radius: 0.5rem;
    width: 25%;
    z-index: 2;
}
ul, ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
strong {
    font-weight: bold;
}

em {
    font-style: italic;
    position: relative;
    display: inline-block;
}

em::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0rem;
    height: 6px;
    background: url('data:image/svg+xml;utf8,<svg width="400" height="6" xmlns="http://www.w3.org/2000/svg"><path d="M0 4 Q 200 -2, 400 4" stroke="rgba(153,153,153,1)" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>') repeat-x;
    pointer-events: none;
    z-index: 1;
    opacity: 0.5;
}

pre {
    font-family: monospace;
    font-size: 0.75rem;
    line-height: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 0.5rem;
    background: var(--color-background-secondary);
    border-radius: 0.5rem;
}
pre code.hljs {
    border-radius: 0.25rem;
    padding: 1rem;
}

:not(pre) > code {
    background: var(--color-background-secondary);
    color: var(--color-text-secondary);
    font-family: monospace;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}
article img {
    border-radius: 0.5rem;
    width: 100%;
}
.grid {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-column: span 1;
    grid-template-columns: repeat(1, 1fr);
}
.grid.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 600px) {
    .grid.grid-221, .grid.grid-321, .grid.grid-421 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 900px) {
    .grid.grid-211 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid.grid-311, .grid.grid-321 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid.grid-411, .grid.grid-421 {
        grid-template-columns: repeat(4, 1fr);
    }
}

.wrapper {
    padding: 0 1rem;
    max-width: 720px;
    margin: 0 auto;
}
.wrapper > *:first-child {
    margin-top: 0;
    padding-top: 1.5rem;
}

h1 {
    margin-top: 0;
    text-wrap: balance;
}

.grid .next, .grid .prev {
    background: var(--color-background-card);
    color: var(--color-text-card);
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;    
}

.grid .next p, .grid .prev p {
    margin-bottom: 0;
}
.grid .next {
    text-align: right;
}
.grid .prev:hover, .grid .next:hover {
    text-decoration: none;
}
.grid .prev p.link, .grid .next p.link,
.grid .prev p.arrow, .grid .next p.arrow {
    color: var(--color-primary);
}
.grid .prev:hover p.link, .grid .next:hover p.link {
    text-decoration: underline;
    text-decoration-color: #444;   
}
.grid .prev p.link, .grid .next p.link {
    margin-top: 0;
}

.footnotes {
    background: var(--color-background-card);
    color: var(--color-text-card);
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;    
}

.footnotes p {
    margin-top: 0;
    margin-bottom: 0;
}
